a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: "PT Sans", "Arial";
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.intro-not-index {
  margin: 0;
  padding: 0;
}

.visually-hidden{
  display: none;
}
