.header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 56px;
  margin: 0;
  padding: 0;
}

.header__logo {
  position: absolute;
  z-index: 10;
  right: 108px;
  bottom: -32px;
}

@media (min-width: @tablet-width) {
  .header__logo {
    right: 333px;
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    right: 507px;
  }

  .header__logo-image {
    display: block;
    width: 187px;
    height: auto;
  }
}
