.intro {
  position: relative;
  width: auto;
  height: 389px;
  overflow: hidden;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 768px 389px;
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 320px;
    height: 27px;
    bottom: 0;
    left: 0;
  }
}

.intro__title {
  display: block;
  margin: 90px auto;
}


@media (min-width: @tablet-width) {
  .intro {
    min-height: 518px;

    background-image: url("/img/bg-back-tablet@1x.jpg");
    background-size: 768px;

    &::after {
      content: "";
      background-image: url("/img/bg-intro-triangle-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 768px;
      height: 57px;
      top: 461px;
      left: 0;
    }
  }

  .intro__title {
    width: 460px;
    margin: 0 auto;
    margin-top: 77px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    background-image: url("/img/bg-back-desktop@1x.jpg");
    background-size: 1200px;

    &::after {
      content: "";
      background-image: url("/img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 1200px;
      height: 57px;
      top: 461px;
      left: 0;
    }
  }

  .intro__title {
    width: 460px;
    margin: 0 auto;
    margin-top: 77px;
  }
}
