.photo {
  text-transform: uppercase;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.photo__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin-top: 37px;
}

.photo__describe {
  width: 270px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .photo__wrapper {
    width: 648px;
    margin: 0 auto;
  }

  .photo__title {
    font-size: 30px;
    margin-top: 75px;
  }

  .photo__describe {
    width: 445px;
    margin-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .photo__wrapper {
    width: 1200px;
  }

  .photo__title {
    margin-top: 115px;
  }
}
